
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz
    
    rs2_pose_publisher:
      type: realsense_hardware_interface/Rs2PosePublisher
    rs2_imu_publisher:
      type: realsense_hardware_interface/Rs2ImuPublisher
    left_image_publisher:
      type: realsense_hardware_interface/Rs2ImagePublisher
    right_image_publisher:
      type: realsense_hardware_interface/Rs2ImagePublisher

rs2_pose_publisher:
  ros__parameters:
    odom_frame: odom
    odom_topic : /odom
    joint: t265_link
    publish_tf: True

rs2_imu_publisher:
  ros__parameters:
    imu_frame: t265_link
    imu_topic : /imu

right_image_publisher:
  ros__parameters:
    joint: t265_link
    optical_frame: t265_optical_link
    image_topic: /t265/right_image
    camera_type: t265_fisheye
    shared_memory_key: t265_left_fisheye
    publish_rate: 30.0
    qos: system_default
    encoding: rgb8

left_image_publisher:
  ros__parameters:
    joint: t265_link
    optical_frame: t265_optical_link
    image_topic: /t265/left_image
    camera_type: t265_fisheye
    shared_memory_key: t265_right_fisheye
    publish_rate: 30.0
    qos: system_default
    encoding: mono8