
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz
    
    rs2_pose_publisher:
      type: realsense_hardware_interface/Rs2PosePublisher
    left_image_publisher:
      type: realsense_hardware_interface/Rs2ImagePublisher
    right_image_publisher:
      type: realsense_hardware_interface/Rs2ImagePublisher

rs2_pose_publisher:
  ros__parameters:
    odom_frame: odom
    odom_topic : /odom
    joint: t265_link
    publish_tf: True

right_image_publisher:
  ros__parameters:
    joint: t265_link
    optical_frame: t265_optical_link
    image_topic: /t265/right_image
    camera_type: t265_fisheye
    shared_memory_key: t265_left_fisheye

left_image_publisher:
  ros__parameters:
    joint: t265_link
    optical_frame: t265_optical_link
    image_topic: /t265/left_image
    camera_type: t265_fisheye
    shared_memory_key: t265_right_fisheye